.resident{
    width: 100%;
    max-width: 19em;
    background-color: var(--secondary-color);
    border-radius: 0.9em;
    border-color: var(--primiry-color);
    margin: 1px;
    overflow: hidden;
    transition: all 0.5s ease;
    &:hover {
      scale: 1.03;  
      box-shadow: 0 0 10px 1px white;
    }
}

.resident__header {
    position: relative;

    .resident__status-container {
        position:absolute;
        top: 3em;
        background-color: var(--secondary-color);
        color: aliceblue;
        min-width: 7em;
        padding: 0.3em 1em;
        border-radius: 0 0.9em;
        gap: 0.8em;

        .resident__status-circle {
            width: 1em;
            aspect-ratio: 1;
            background-color: grey;
            border-radius: 50%;
        }

        .resident__status {
            font-size: 0.9em;
            font-weight: 500;
        }

        .Alive {
            background-color: green;
        }

        .Dead {
            background-color: red;
        }
    }
}

.resident__body {
    color: aliceblue;
    padding: 1.5em 1.5em 2em;

    .resident__name {
        text-align: center;
        font-size: 1.7em;
        font-weight: 800;
        font-family: var(--font-alternative);
    }

    .resident__hr {
        margin: 1em 0;
        border-color: darkslategray;
    }

    .resident__list {
        gap: 0.8em;

        .resident__item {
            gap: 0.2em;
        }

        .resident__label {
            font-size: 1em;
            font-weight: 500;
            color: grey;
            padding-left: 1em;
        }

        .resident__value {
            font-family: var(--font-alternative);
            font-size: 1.1em;
            font-weight: 500;
        }
    }
}